/vendor
/node_modules
/bower_components
/public/storage
public/*
!public/health.php
Homestead.yaml
Homestead.json
composer.lock
app/storage/
.env.*.php
.env.php
.env
/.idea
.DS_Store
/nbproject
newrelic_agent.log
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/logs/*
yarn.lock